.sidebar
  .meta
    h3.headline Author
   .media
    .pull-left
      img.img-rounded(src="#{post.author.gravatar}" + 50)
    .media-body
      a(
        href="#{app.link('users', 'show', {username: post.author.username})}"
      ) #{post.author.fullname}
      br
      p.text-muted #{post.author.status}

  .stats
    h3.headline Statistics

    .media
      .pull-left
        a(href="#comments")
          i.fa.fa-comments.fa-2x
      .media-body
        h5.media-heading Comments on this post
        p.text-muted
          if (0 === post.comments.length)
            | No comments yet
          else if (1 === post.comments.length)
            | One comment
          else if (post.comments.length > 1)
            | #{post.comments.length} comments

    .media
      .pull-left
        i.fa.fa-eye.fa-2x
      .media-body
        h5.media-heading Views on this post
        p.text-muted
          if (0 === post.views)
            | No views yet
          else if (1 === post.views)
            | One view
          else if (post.views > 1)
            | #{post.views} views

