//- Allow external injection
if ('undefined' === typeof author)
  - var author = post.author

.post.panel.panel-default
  .panel-heading.clearfix
    h4.pull-left
      a(href="/posts/" + post.slug)= post.title

    .pull-right
      | #{helper.date.format(post.created_at, 'LLLL')}

  .panel-body= (post.content).words(50)
    &nbsp;
    a.btn.btn-default.btn-xs(href="/posts/" + post.slug)
      i.icon-share-alt
      |  Read on

  .panel-footer.clearfix

    .row.details-banner.clickable
      .col-lg-12.text-center
        i.icon-plus
        |  Show details and activities

    .row.details.collapse
      .col-lg-4
        .media
          .pull-left
            img.img-rounded(src="#{author.gravatar}" + 50)
          .media-body
            a(href="#{app.link('users', 'show', {username: author.username})}") #{author.fullname}
            br
            p.text-muted #{author.status}

      .col-lg-4
        .media
          .pull-left
            a(href="/posts/" + post.slug + "#comments")
              i.icon-comments.icon-2x
          .media-body
            h5.media-heading Comments
            p.text-muted #{post.comments.length} Comments

      .col-lg-4
        .media
          .pull-left
            i.icon-eye-open.icon-2x
          .media-body
            h5.media-heading Statistics
            p.text-muted #{post.views} Views

//- Clear external injection
- author = undefined

