form.form-horizontal(role="form", method="POST", action="#{response.path}")

  .form-group
    label.col-lg-2.control-label Fullname
    .col-lg-10
      input.form-control(
        type="text",
        name="user_fullname",
        placeholder="Just type the fullname ..",
        required="required",
        value="#{('undefined' !== typeof user && null !== user) ? user.fullname : ''}")

      span.help-block.
        Some useful hints for the fullname input

  .form-group
    label.col-lg-2.control-label Email
    .col-lg-10
      input.form-control(
        type="text",
        name="user_email",
        placeholder="Just type the email ..",
        required="required",
        value="#{('undefined' !== typeof user && null !== user) ? user.email : ''}")

      span.help-block.
        Some useful hints for the email input

  .form-group
    label.col-lg-2.control-label Password
    .col-lg-10
      input.form-control(
        type="text",
        name="user_password",
        placeholder="Just type the password ..",
        required="required",
        value="#{('undefined' !== typeof user && null !== user) ? user.password : ''}")

      span.help-block.
        Some useful hints for the password input

  .form-group
    .col-lg-offset-2.col-lg-10
      button.btn.btn-primary
        i.icon-ok
        &nbsp;
        | #{response.action === 'create' ? 'Create' : 'Save'}

