each user in users

  tr(class="#{ user.deleted_at ? 'danger' : '' }")

    td.min.text-center
      i.fa(title="User is #{ user.deleted_at ? '' : 'not' } deleted",
        data-toggle="tooltip", class="#{ user.deleted_at ? 'fa-times' : 'fa-check' }")

    td #{ new String(user.username).words(30) }
    td #{ new String(user.email).words(30) }
    td #{ new String(user.fullname).words(30) }

    td.min #{helper.date.format(user.created_at, 'L')}
    td.min.no-wrap
      include _operations

