extends ../layout

block content

  h2.page-headline Users
    .pull-right
      include _operations

  - if ('undefined' !== typeof users && users.length > 0)

    table.table.table-bordered.table-striped
      thead
        tr
          th Status
          th Fullname
          th Email
          th.no-wrap Created at
          th Operations
      tbody
        - each user in users
          tr(class="#{user.deleted_at ? 'danger' : ''}")
            td.min.center
              i(title="User is #{user.deleted_at ? '' : 'not'} deleted",
                data-toggle="tooltip", class="#{user.deleted_at ? 'icon-remove' : 'icon-ok'}")
            td #{user.fullname}
            td #{user.email}
            td.min #{helper.date.format(user.created_at, 'L')}
            td.min.no-wrap
              include _operations

  - else

    p No users present.

  include _scripts

