extends ../layout

block content

  if (null !== user)

    br
    .row
      .col-lg-3

        .row
          img.img-rounded(src="#{user.gravatar}" + 200)

        .row
          if (user.fullname)
            h2.media-heading #{ user.fullname }

            h3.media-heading #{ user.username }
          else
            h3.media-heading #{ user.username }

          p.meta

            if (user.status)
              p.text-muted
                i.fa.fa-star
                |  #{user.status}

            if (user.twitter)
              p.text-muted
                i.fa.fa-twitter
                |&nbsp;
                a(target="_blank", href="http://twitter.com/#{user.twitter}") #{user.twitter}

            if (user.website)
              p.text-muted
                i.fa.fa-globe
                |&nbsp;
                a(target="_blank", href="http://#{ user.website }") #{ user.website }

            p.text-muted
              i.fa.fa-clock-o
              |  Joined on #{helper.date.format(user.created_at, 'LL')}

      .col-lg-9

        unless (0 == relations.posts.length)
          include ../posts/_operations
          h3.headline
            i.fa.fa-file
            |  Latest post
          - var post = relations.posts.shift()
          //- Aliasing for injection
          - var author = user
          include ../posts/_post

        unless (0 == relations.comments.length)
          include ../posts/comments/_operations
          h3.headline
            i.fa.fa-file
            |  Latest comment
          - var comment = relations.comments.shift()
          //- Aliasing for injection
          - var author = user
          include ../posts/comments/_comment

        unless (0 == relations.posts.length)
          h3.headline.clickable(data-toggle="collapse", data-target="#posts")
            i.fa.fa-file
            |  Posts written by this user
          #posts.collapse
            each post in relations.posts
              //- Aliasing for injection
              - var author = user
              include ../posts/_post

        unless (0 == relations.comments.length)
          h3.headline.clickable(data-toggle="collapse", data-target="#comments")
            i.fa.fa-comment
            |  Comments written by this user
          #comments.collapse
            each comment in relations.comments
              //- Aliasing for injection
              - var author = user
              include ../posts/comments/_comment

  else

    - var entity = 'User'
    include ../error/notfound

