extends ../layout

block content

  - if (null !== comment)

    h2.page-headline Comment details
      .pull-right
        include _operations

    table.table.table-bordered.table-striped
      tbody

        tr
          th.min Title
          td #{ comment.title }

        tr
          th.min Content
          td #{ comment.content }

        tr
          th.min Email
          td #{ comment.email }

        tr
          th.min Twitter
          td #{ comment.twitter }

        tr
          th.min Website
          td #{ comment.website }

        tr
          th.min Created at
          td #{helper.date.format(comment.created_at, 'LLLL')}

        tr(class="#{ comment.deleted_at ? 'danger' : 'success' }")
          th.min Deleted
          td #{ comment.deleted_at ? ('at ' + helper.date.format(comment.deleted_at, 'LLLL')) : 'No' }

  - else

    - var entity = 'Comment'
    include ../error/notfound

