extends ../layout

block content

  .row
    .col-lg-2
      i.fa.fa-picture-o.fa-6x.fa-border-circle.text-muted

    .col-lg-10
      .text-left
        h1 Logo Downloads
        hr

      .row
        .col-lg-4
          a(href="/img/logos/greppy.svg")
            img.img-thumbnail(
              alt="Greppy Logo Bright",
              src="/img/logos/thumbs/greppy.png"
            )
          br
          span Greppy Logo Bright

        .col-lg-4
          a(href="/img/logos/greppy-blue.svg")
            img.img-thumbnail(
              alt="Greppy Logo Colored",
              src="/img/logos/thumbs/greppy-blue.png"
            )
          br
          span Greppy Logo Colored

        .col-lg-4
          a(href="/img/logos/greppy-dark.svg")
            img.img-thumbnail(
              alt="Greppy Logo Dark",
              src="/img/logos/thumbs/greppy-dark.png"
            )
          br
          span Greppy Logo Dark

  .marketing.posters
    .featurette
      .row
        .col-lg-10
          .text-right
            h1 Poster Downloads
            hr

          .row
            .col-lg-offset-4.col-lg-4
              a(href="/img/posters/greppy.png")
                img.img-thumbnail(
                  alt="Greppy Framework Poster",
                  src="/img/posters/thumbs/greppy.png"
                )
              br
              span Greppy Framework Poster

            .col-lg-4
              a(href="/img/posters/greppy-frontend.png")
                img.img-thumbnail(
                  alt="Greppy Frontend Poster",
                  src="/img/posters/thumbs/greppy-frontend.png"
                )
              br
              span Greppy Frontend Poster

        .col-lg-2
          i.fa.fa-file-o.fa-6x.fa-border-circle.text-muted

