mixin person(width, name, ghNick, role, hash)
  div(class="col-lg-#{width}", itemscope itemtype="http://data-vocabulary.org/Person")
    img.img-thumbnail(src="https://2.gravatar.com/avatar/#{hash}?s=100" itemprop="photo")
    h3(itemprop="name") #{name}
    p
      | Role:&nbsp;
      span(itemprop="role") !{role}
    p
      | Github profile:&nbsp;
      a(target="_blank", href="https://github.com/#{ghNick}", itemprop="url")
        i.fa.fa-github
        |&nbsp;
        span(itemprop="nickname") #{ghNick}

.row.text-center.margin-bottom-small
  +person(
    6, 'Hermann Mayer', 'Jack12816',
    'Project maintainer &amp; Lead developer',
    '9168cae942024acd00a8fce115189add'
  )
  +person(
    6, 'Patrick Jaksch', 'DeadlySilence',
    'Deputy maintainer &amp; Core developer',
    'bed87934d3b5f61e8d60dd999bf28dd4'
  )

.row.text-center
  +person(
    4, 'Lars Dietrich', 'killmag10',
    'Quality assurance &amp; Core developer',
    '0864368849d323dba73feca513ab25d2'
  )
  +person(
    4, 'Nabil Krause', 'nabil1337',
    'Frontend designer &amp; Core developer',
    '2f881d0cb77dfb17838f598475d2096f'
  )
  +person(
    4, 'Ralf Grawunder', 'R2-G2',
    'Core developer',
    'c5fe506c34450778b7e892a05473ca07'
  )

