form.form-horizontal(role="form", method="POST", action="#{response.path}")

  .form-group
    label.col-lg-2.control-label Title
    .col-lg-10
      input.form-control(
        type="text",
        name="comment_title"
        placeholder="Just type the title ..",
        value="#{('undefined' !== typeof comment && null !== comment) ? comment.title : ''}")

      span.help-block.
        Some useful hints for the title input

  .form-group
    label.col-lg-2.control-label Content
    .col-lg-10
      textarea.form-control(
        name="comment_content"
        placeholder="Just type the content ..",
        rows="10"
      ) #{('undefined' !== typeof comment && null !== comment) ? comment.content : ''}

      span.help-block.
        Some useful hints for the content input

  .form-group
    label.col-lg-2.control-label Email
    .col-lg-10
      input.form-control(
        type="text",
        name="comment_email"
        placeholder="Just type the email ..",
        value="#{('undefined' !== typeof comment && null !== comment) ? comment.email : ''}")

      span.help-block.
        Some useful hints for the email input

  .form-group
    label.col-lg-2.control-label Twitter
    .col-lg-10
      input.form-control(
        type="text",
        name="comment_twitter"
        placeholder="Just type the twitter ..",
        required="required",
        value="#{('undefined' !== typeof comment && null !== comment) ? comment.twitter : ''}")

      span.help-block.
        Some useful hints for the twitter input

  .form-group
    label.col-lg-2.control-label Website
    .col-lg-10
      input.form-control(
        type="text",
        name="comment_website"
        placeholder="Just type the website ..",
        required="required",
        value="#{('undefined' !== typeof comment && null !== comment) ? comment.website : ''}")

      span.help-block.
        Some useful hints for the website input

  .form-group
    .col-lg-offset-2.col-lg-10
      button.btn.btn-primary
        i.icon-ok
        &nbsp;
        | #{response.action === 'create' ? 'Create' : 'Save'}

