- each comment in comments

  tr(class="#{ comment.deleted_at ? 'danger' : '' }")

    td.min.text-center
      i(title="Comment is #{ comment.deleted_at ? '' : 'not' } deleted",
        data-toggle="tooltip", class="#{ comment.deleted_at ? 'icon-remove' : 'icon-ok' }")

    td #{ new String(comment.title).words(30) }
    td #{ new String(comment.content).words(30) }
    td #{ new String(comment.email).words(30) }

    td.min #{helper.date.format(comment.created_at, 'L')}
    td.min.no-wrap
      include _operations

