a#fork-on-github(href="https://github.com/Jack12816/greppy", target="_blank")
  img(
    style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999;",
    src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
    alt="Fork me on GitHub")

.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="#{app.linkContext('home', '/')}#greppy") Greppy
        li
          a(href="#{app.linkContext('home', '/')}#greppy-frontend") Greppy Frontend
        li
          a(href="#{app.linkContext('home', '/')}#greppy-gang") Gang
        li
          a(href="#{app.linkContext('home', '/')}#greppy-contributors") Contributors
        li.active
          a(href="/") Documentation
        li
          a(href="#{app.linkContext('blog')}") Blog

