a#fork-on-github(href="https://github.com/Jack12816/greppy", target="_blank")
  img(
    style="position: fixed; top: 0; right: 0; border: 0; z-index: 9999;",
    src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
    alt="Fork me on GitHub")

if ('undefined' === typeof enableCarousel)
  - enableCarousel = true

if (true === enableCarousel)
  - var navbarClass = 'navbar-static-top'
else
  - var navbarClass = 'navbar-fixed-top'
  style.
    #content {padding-top: 151px !important;}
    .navbar-wrapper { margin-top: 0px !important; }

.navbar-wrapper
  .container
    .navbar.navbar-inverse(class="#{navbarClass}", role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            - var root = (helper.route.current(req.url, /^\/$/i, true)) ? '' : '/'
            li
              a(href="#{root}#greppy") Greppy
            li
              a(href="#{root}#greppy-frontend") Greppy Frontend
            li
              a(href="#{root}#greppy-gang") Gang
            li
              a(href="#{root}#greppy-contributors") Contributors
            li
              a(href="#{app.linkContext('docs')}") Documentation
            li
              a(href="#{app.linkContext('blog')}") Blog
            li(class="#{helper.route.current(req.url, /^\/resources/i, 'active')}")
              a(href="/resources") Resources

if (true === enableCarousel)
  include _carousel

