a(name="features")
hr.featurette-divider
.row.anchor
  .row.text-center
    .col-lg-12
      h1.featurette-heading.light Greppy Features
  .row.text-center
    .col-lg-4
      h3
        i.fa.fa-folder-open.fa-2x.fa-border-circle.text-muted
        br
        |  Application structure

      p.
        Well structured application hierarchy, read on
        the <a target="_blank" href="#{app.linkContext('docs', '/framework/guide/app/')}">documentation</a>.

    .col-lg-4
      h3
        i.fa.fa-code.fa-2x.fa-border-circle.text-muted
        br
        |  Model-View-Controller<br>is not enough

      p.
        Greppy lets you organize your application into contexts and modules,
        where you put your MVC. <a target="_blank" href="#{app.linkContext('docs', '/framework/guide/mvc/')}">Here</a>
        you can find out how it works.

    .col-lg-4
      h3
        i.fa.fa-sitemap.fa-2x.fa-border-circle.text-muted
        br
        |  Scalability matters

      p.
        Just build <a target="_blank" href="#{app.linkContext('docs', '/framework/guide/app/#cluster')}">Cloud/Cluster</a>
        software with multi-threading support - out of the box.

  .row.text-center
    .col-lg-4
      h3
        i.fa.fa-cloud.fa-2x.fa-border-circle.text-muted
        br
        |  Generic data persistence

      p.
        Easy integration of MySQL or MongoDB backends, plain connections or with ORM's.
        Examples of models, migrations and even fixtures you can find
        <a target="_blank" href="#{app.linkContext('docs', '/framework/guide/db/')}">here</a>.

    .col-lg-4
      h3
        i.fa.fa-puzzle-piece.fa-2x.fa-border-circle.text-muted
        br
        |  Easy to configure and extend

      p.
        Support of extensions, convention-over-configuration and many abilities to
        hook into our framework.

    .col-lg-4
      h3
        i.fa.fa-magic.fa-2x.fa-border-circle.text-muted
        br
        |   Rapid Prototyping

      p.
        Simply generate your application scaffold, even with CRUD controllers. Find out how
        to ease your daily work with our <a target="_blank" href="#{app.linkContext('docs', '/framework/guide/scaffolding/')}">scaffolding solution</a>.

a(name="explore")
hr.featurette-divider
.featurette
  img.featurette-image.img-circle.pull-right(src="/modules/home/img/home/explore.png")
  h2.featurette-heading.anchor
    | Take a look at existing applications.&nbsp;
    span.text-muted Become interested.
  p.lead.
    To get a feeling for the ease of writing applications with Greppy
    you should try our demo application. It's got a frontend module, and
    a really easy REST service.

  p
    | Just read more on the GitHub&nbsp;
    a(target="_blank", href="https://github.com/Jack12816/greppy-demo") project page
    | .

a(name="getting-started")
hr.featurette-divider
.featurette
  img.featurette-image.img-circle.pull-left(src="/modules/home/img/home/getting-started.png")
  h2.featurette-heading.anchor
    | Learn more about our concepts.&nbsp;
    span.text-muted You'll be excited.
  p.lead.
    You aren't content with the demo anymore?

  p
    | Study our concepts and learn all you need to write your own
    | Greppy-based application. The quickest way is via our&nbsp;
    a(target="_blank", href="#{app.linkContext('docs')}") documentation
    | .

a(name="contribute")
hr.featurette-divider
.featurette
  img.featurette-image.img-circle.pull-right(src="/modules/home/img/home/contribute.png")
  h2.featurette-heading.anchor
    | Greppy is open source - contributions are welcome.&nbsp;
    span.text-muted Just read further on GitHub.
  p.lead.
    For getting you started to work on Greppy, read the documentation
    and watch for issues.
  p
  | If you plan to extend Greppy, the easiest way
  | would be to open an issue and discuss it. For feature requests it
  | would be the same. So take a look at&nbsp;
  a(target="_blank", href="https://help.github.com/articles/fork-a-repo") GitHub
  | .

