script.
  $(function () {
    $('#archive-expand-all-btn').on('click', function() {
      $('.archive .clickable').trigger('click');
      $(this).find('i').toggleClass('icon-eye-open icon-eye-close');
    });
  });

.sidebar
  .archive
    h3.headline Archive
      unless (0 == archive.length)
        .pull-right
          a.btn.btn-default.btn-sm#archive-expand-all-btn(title="Expand all years", href="#")
            i.icon-eye-open

    if (0 == archive.length)
      p No posts are in the archive.
    else
      .list-group
        each year in archive
          .list-group-item
            .badge= year.count
            .list-group-item-heading.clickable(data-toggle="collapse", data-target="#archive-year-#{year.year}")
              i.icon-calendar
              |  #{year.year}
            .list-group-item-text.collapse(id="archive-year-#{year.year}")
              each month in year.months
                a.btn.btn-primary(href="#{app.link('posts.archive', 'show', {year: year.year, month: month.index})}")
                  | #{month.name}&nbsp;&nbsp;
                  span.badge.badge-white #{month.count}

