form.form-horizontal(role="form", method="POST", action="#{response.path}")

  .form-group
    label.col-lg-2.control-label Author
    .col-lg-10
      .form-control(
        name="post_author",
        placeholder="Just type the author ..",
        required="required",
        value="#{('undefined' !== typeof post && null !== post) ? post.author : ''}")

      span.help-block.
        Some useful hints for the author input

  .form-group
    label.col-lg-2.control-label Slug
    .col-lg-10
      input.form-control(
        type="text",
        name="post_slug",
        placeholder="Just type the slug ..",
        required="required",
        value="#{('undefined' !== typeof post && null !== post) ? post.slug : ''}")

      span.help-block.
        Some useful hints for the slug input

  .form-group
    label.col-lg-2.control-label Title
    .col-lg-10
      input.form-control(
        type="text",
        name="post_title",
        placeholder="Just type the title ..",
        required="required",
        value="#{('undefined' !== typeof post && null !== post) ? post.title : ''}")

      span.help-block.
        Some useful hints for the title input

  .form-group
    label.col-lg-2.control-label Content
    .col-lg-10
      input.form-control(
        type="text",
        name="post_content",
        placeholder="Just type the content ..",
        required="required",
        value="#{('undefined' !== typeof post && null !== post) ? post.content : ''}")

      span.help-block.
        Some useful hints for the content input

  .form-group
    .col-lg-offset-2.col-lg-10
      button.btn.btn-primary
        i.icon-ok
        &nbsp;
        | #{response.action === 'create' ? 'Create' : 'Save'}

