- each post in posts

  tr(class="#{ post.deleted_at ? 'danger' : '' }")

    td.min.text-center
      i(title="Post is #{ post.deleted_at ? '' : 'not' } deleted",
        data-toggle="tooltip", class="#{ post.deleted_at ? 'icon-remove' : 'icon-ok' }")

    td #{ new String(post.title).words(30) }
    td #{ new String(post.content).words(30) }

    td.min #{helper.date.format(post.created_at, 'L')}
    td.min.no-wrap
      include _operations

