extends ../../layout

block content

  if (null !== post)

    h2.page-headline Post details
      .pull-right
        include _operations

    table.table.table-bordered.table-striped
      tbody

        tr
          th.min Author
          td #{ post.author }

        tr
          th.min Slug
          td #{ post.slug }

        tr
          th.min Content
          td !{ post.content }

        tr
          th.min Created at
          td #{helper.date.format(post.created_at, 'LLLL')}

        tr(class="#{ post.deleted_at ? 'danger' : 'success' }")
          th.min Deleted
          td #{ post.deleted_at ? ('at ' + helper.date.format(post.deleted_at, 'LLLL')) : 'No' }

  else

    - var entity = 'Post'
    include ../../error/notfound

